# Task-1:- Factorial of a number

-- Using while loop, write a program to calculate the factorial number of n.
-- Accept the number n as an input from the user.

In [ ]:
n=int(input('Enter the Number: '))
factorial=1
while n>0:
      factorial*=n
      n-=1
print('The factorial is:',factorial)

# Task-2:- Prime Numbers

-- Create a program that uses 'while' loop to check if 50 and 51 are prime numbers

In [1]:
l1=[50,51]
for i in l1:
    flag=0
    for j in range(1,i):
        if i%j==0:
            flag=flag+1
            
    if flag==1:
        print('prime')
    else:
        print('not prime')

not prime
not prime

# Task-3:- Sum of all digits

-- Take input of a five-digit number from user.
-- write a program using the 'while' loop to calculate the sum of the digits of the number entered by the user.

In [2]:
n=int(input('Enter a five digit number:'))
add=0
while n>0:
    digit=n%10
    add+=digit
    n=n//10
print('the sum of digit is :',add)

Enter a five digit number:12345
the sum of digit is : 15

# Task-4:- Fibonacci series

-- using 'while' loop, write a program to display the fibonacci series up to 7 values.

In [3]:
a, b = 0, 1
count = 0

while count < 7:
    print(a, end=' ')
    nth = a + b
    a = b
    b = nth
    count += 1

0 1 1 2 3 5 8

# Task-5:- Adding two tuples

In [4]:
t1=(1,2,3)
t2=(4,5,6)

In [5]:
id(t1)

2149036272576

In [6]:
id(t2)

2149036720064

In [8]:
t1=t1+t2
t1

(1, 2, 3, 4, 5, 6, 4, 5, 6)

In [9]:
id(t1)

2149008234528

### Interpretation:
    -- ID assign for t1 and t2 are unique.
    -- the tuple t1 and t2 are getting added but values of t2 are repeated
    -- after adding both tuples, the ID also changed.

# Task-6:- Inserting data into sets

In [10]:
m={10,20,30,40,50}
n=[33,40,55,60,70]

-- Insert the elements of list n into set m one by one and print the output.

In [11]:
for i in n:
    m.add(i)
    print(m)

{33, 50, 20, 40, 10, 30}
{33, 50, 20, 40, 10, 30}
{33, 50, 20, 55, 40, 10, 30}
{33, 50, 20, 55, 40, 10, 60, 30}
{70, 10, 20, 30, 33, 40, 50, 55, 60}

### Interpretation:
    -- In this task list n added in set m.
    -- the number 40 was already avilable in set 
    -- set is only allow for unique values thats why the number 40 is not added again.

# Task-7:- Iterating over a dictionary data structure

-- using 'while' loop, create a program that prints those key-value pair that contains even numbers

In [12]:
data_set={'python':1,'data':2,'excel':3,'sql':4}

In [29]:
for key,value in data_set.items():
    if value%2==0:
        print(value,key)

2 data
4 sql

### Interpretation:
    -- in this task we got number 2 and 4 as an output.
    -- the even number values are data and sql resp.

# Task-8:- Populating a dictionary data structure

-- write a python program to create a dictionary where the keys are the integers from 1 to 15.
-- the values are squares of keys.

In [30]:
dict1={}
for i in range(1,16):
    dict1[i]=i**2
print(dict1)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

In [31]:
dict1.update({100:10000})

In [32]:
dict1

{1: 1,
 2: 4,
 3: 9,
 4: 16,
 5: 25,
 6: 36,
 7: 49,
 8: 64,
 9: 81,
 10: 100,
 11: 121,
 12: 144,
 13: 169,
 14: 196,
 15: 225,
 100: 10000}

### Interpretation:
    -- we successfully created a dictionary which contains key from 1 to 15
    -- The value are the square of the key values.
    -- after creating dictionary we add a key and value in it using update command.